@model TourCreateViewModel

<h2>Edit tour information</h2>



<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Duaration">Duration</label>
        <input asp-for="Duaration" class="form-control" />
        <span asp-validation-for="Duaration" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LocationCity">City</label>
        <textarea asp-for="LocationCity" class="form-control"></textarea>
        <span asp-validation-for="LocationCity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LocationCountry">Country</label>
        <textarea asp-for="LocationCountry" class="form-control"></textarea>
        <span asp-validation-for="LocationCountry" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" class="form-control">
            @foreach (var category in Model.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>

        <span asp-validation-for="CategoryId" class="small text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PricePerPerson">Price per person</label>
        <input asp-for="PricePerPerson" type="number" step="0.01" class="form-control" />
        <span asp-validation-for="PricePerPerson" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MeetingPoint">Meeting point</label>
        <textarea asp-for="MeetingPoint" class="form-control"></textarea>
        <span asp-validation-for="MeetingPoint" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImportInformation">Import information</label>
        <textarea asp-for="ImportInformation" class="form-control"></textarea>
        <span asp-validation-for="ImportInformation" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="FullDescription">FullDescription</label>
        <textarea asp-for="FullDescription" class="form-control"></textarea>
        <span asp-validation-for="FullDescription" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-secondary">Cancel</a>
</form>

<script>
    const inputs = document.querySelectorAll('.form-control');
    for (const input of inputs) {
        input.addEventListener('focus', function() {
            this.closest('.form-group').querySelector('label').style.fontWeight = 'bold';
            this.closest('.form-group').querySelector('label').style.color = '#007bff';
        });

        input.addEventListener('blur', function() {
            this.closest('.form-group').querySelector('label').style.fontWeight = 'normal';
            this.closest('.form-group').querySelector('label').style.color = 'black';
        });
    }
</script>
